* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* MAIN ANIMATIONS */
@keyframes slide-in-right {
  from { transform: translateX(15%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slide-in-left {
  from { transform: translateX(-15%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}