/* TAILWIND CONFIG */
@import "tailwindcss";

@layer base {
  :root {
    --color-bg-primary: #fdfdfd;       
    --color-text-primary: #000000;     
    --color-text-secondary: #707070;     
    --color-accent: #e9e9e9;           
    
    --sl-width: 46px;
    --sl-height: 23px;
    --sl-border-color: gray;
    --sl-border-radius: calc(var(--sl-height) / 2);
    --sl-flag-size: calc(var(--sl-height) - 6px);
    --sl-transformX: calc(var(--sl-width) - var(--sl-flag-size) - 6px);
  }

  /* Colori dark */
  .dark {
    --color-bg-primary: #707070;       /* Sfondo scuro */
    --color-text-primary: #fdfdfd;     /* Testo chiaro */
    --color-text-secondary: #fdfdfd;     /* Testo chiaro */
    --color-accent: #e9e9e9;           /* Accento */
    --color-border: #fdfdfd;           /* Bordi chiari in dark mode */
  }

  /* Stili globali */
  body {
    @apply bg-bg-primary text-text-primary font-mono transition-colors duration-200;
  }

  ::selection {
    @apply bg-[#fc6767] text-white;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* Set Tailwind Theme */
@theme {
  /* Fonts */
  --font-mono: 'Courier New', Arial, monospace;

  /* Colori */
  --color-bg-primary: var(--color-bg-primary);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-accent: var(--color-accent);
  --color-border: var(--color-text-primary);
}

@layer components {
  header { @apply h-[60px]}
  main { @apply h-[calc(100vh-120px)];}
  footer { @apply h-[60px]}

  .modal-box {
    @apply top-[75%] left-[-25%] absolute py-4 px-7 border border-text-primary rounded-lg bg-bg-primary z-50 opacity-0 pointer-events-none transition-all duration-100 ease-out;
  }

  .custom-link {
    @apply border-b border-text-secondary text-text-secondary;
  }
}

/* MAIN ANIMATIONS */
@keyframes slide-in-right {
  from { transform: translateX(15%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slide-in-left {
  from { transform: translateX(-15%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}