<div id="contact-modal" class="modal-box group-hover:opacity-100 group-hover:pointer-events-auto">
  <div class="flex flex-col gap-4">
    <div class="row">
      <span>email:</span>
      <a href="mailto:me@massimopiazza.com" class="custom-link">me@massimopiazza.com</a>
    </div>
    <div class="row">
      <div class="flex justify-between">
        <a href="#" class="custom-link">linkedin</a>
        <a href="#" class="custom-link">github</a>
      </div>
    </div>
  </div>
</div>