---
import ContactModal from "./ContactModal.astro";
import mainPages from "../../config";
import { getRelativeLocaleUrl } from 'astro:i18n';
const { pathname } = Astro.url;
const currentLocale = (Astro.currentLocale as 'it' | 'en') ?? 'it';

const currentPath = pathname
  .replace(`/${currentLocale}`, "") 
  .replace(/^\/|\/$/g, "");
---

<nav class="flex items-center h-full">
  <div id="side-menu-toggle" class="hidden max-[895px]:block cursor-pointer">
    <span>☰</span>
  </div>

  <ul class="links flex h-full list-none max-[895px]:hidden">
    {mainPages.map((link) => {
      const linkPath = link.path.replace(/^\/|\/$/g, "");
      const isActive = currentPath === linkPath;

      return (
        <li id={link.id} class={`nav-link ${isActive ? "active" : ""} ${link.id === 'contact' && "group"}`}>
          <div class="nav-indicator" transition:animate="initial"></div>
          <a 
            class={`no-underline text-inherit border-none ${link.id === 'contact' && "pointer-events-none"}`}
            href={getRelativeLocaleUrl(currentLocale, link.path)}
          >
            {link.label[currentLocale]}
          </a>
          {link.id === 'contact' && <ContactModal />}
        </li>
      );
    })}
  </ul>
</nav>

<style>
  @reference "tailwindcss";
  @reference "../../styles/global.css";
  .nav-link {
    @apply flex items-center h-full cursor-pointer relative;
  }

  .nav-link > a { @apply p-6 }
  .nav-link:last-child { @apply border-r-0; }
  
  .nav-link .nav-indicator {
    content: "";
    @apply absolute bottom-[theme(spacing.6)] left-[theme(spacing.6)] h-[1px] bg-text-primary transition-all duration-500 ease-out w-0;
  }

  .nav-link::after {
    content: "";
    @apply absolute right-0 h-[calc(100%-theme(spacing.6)*2-5px)] w-[1px] bg-text-primary;
  }
  
  .nav-link:last-child::after {
    @apply hidden;
  }

  .nav-link.active .nav-indicator {
    @apply w-[calc(100%-theme(spacing.6)*2)];
  }
</style>