---
import { Image } from 'astro:assets';
import hamburgerLight from '../../assets/icons/hamburger-menu.svg';
import hamburgerDark from '../../assets/icons/hamburger-menu-dark.svg';
---

<div id="side-menu-toggle" class="hidden max-[895px]:block cursor-pointer">
  <Image 
    src={hamburgerLight}
    alt={"Hamburger menu icon, apri sidebar"} 
    width={30}
    height={30}
    class="block dark:hidden"
  />
  <Image 
    src={hamburgerDark}
    alt={"Hamburger menu icon, apri sidebar"} 
    width={30}
    height={30}
    class="hidden dark:block"
  />
</div>