<p>email:</p>
<a href="mailto:me@massimopiazza.com" class="custom-link">me@massimopiazza.com</a>
<div class="flex justify-between mt-4">
  <a href="https://www.linkedin.com/in/-massimo-piazza/" target="_blank" class="custom-link">linkedin</a>
  <a href="https://github.com/macs-massimopiazza" target="_blank" class="custom-link">github</a>
</div>